{% apply spaceless %}

{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<li><a href="{{ sURL }}"><span class="brick_icon fas fa-user-lock fa-lg fa-fw"></span>{{ 'UI:MFA:Portal:Menu'|dict_s }}</a></li>
{% endapply %}